.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    grid-area: 1 / 1 / 1 / 3;
    background-color: purple;
 }
.block.block2{
    grid-area: 2 / 1 / 3 / 1;
    background-color: cadetblue;
}
.block.block3{
    grid-area: 2 / 2 / 2 / 2;
    background-color: lightblue;
}
.block.block4{

}
.block.block5{

}
.block.block6{

}
.block.block7{

}
.block.block8{

}
