/* General Styles */
body {
    font-family: Helvetica, Arial, sans-serif;
}

/* Header Styling */
header {
    background-color: #2B2D42;
    color: #8D99AE;
    padding: 30px;
    margin-bottom: 10px;
    text-align: center;
}

header h1 {
    font-size: 80px;
    color: #EDF2F4;
}

header h2 {
    font-size: 40px;
    color: #EDF2F4;
}

/* Education Section Styling */
.education {
    background-color: #8D99AE;
    padding: 30px;
}

/* Footer Styling */
footer {
    background-color: #2B2D42;
    color: #8D99AE;
    padding: 30px;
    margin-top: 10px;
    text-align: center;
}

/* Link Styling */
a {
    color: #EF233C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
