/* Algemene reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.5;
    text-align: center;
    padding: 1rem;
}

/* Header */
header {
    background-color: rgb(170, 170, 200);
    color: white;
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2rem;
}

/* Tabel */
table {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

thead th {
    background-color: rgb(35, 37, 70);
    color: rgb(200, 190, 240);
    font-size: 1.2rem;
    padding: 0.5rem;
}

tbody td {
    padding: 1rem;
    border: 1px solid #ddd;
    text-align: center;
}

tbody td.previous-month,
tbody td.next-month {
    color: #aaa;
    background-color: #f4f4f4;
}

tbody td:nth-child(6),
tbody td:nth-child(7) {
    background-color: rgb(255, 220, 220); /* Weekends */
}

tbody td.holiday {
    background-color: rgb(250, 120, 120);
    color: white;
    font-weight: bold;
}
