.container {
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.container .block {
    margin: 0;
    padding: 50px;
    background-color: white;
}
